body {
    padding-top: 56px; /* Adjust based on your navigation height */
}

/* Map styles */
#map {
    height: 60px;
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Adjusted to apply auto margins both horizontally and vertically */
    overflow: hidden;
    padding-top: 40%; /* Makes the map square by setting height as a percentage of its width */
}

body {
    padding-top: 56px; /* Adjust based on your navigation height */
}

/* Card styles */
.about-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.about-card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9em;
}

.slide {
    display: none;
}

#imageSlider {
    max-width: 400px; /* Adjust as needed */
    margin: 0 auto;
}

/* Style the carousel images */
.carousel-inner img {
    width: 300%;
    height: 400px; /* Adjust the height of the images */
    object-fit: cover; /* Maintain image aspect ratio */
}

/* Customize navigation arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url('your-arrow-icon.png'); /* Replace with your arrow icon */
    /* Add other styles for arrow size, color, etc. */
}

/* Optional: Style the carousel indicators */
.carousel-indicators li {
    border-radius: 50%; /* Make the indicators circular */
    background-color: #888; /* Indicator color */
}

.carousel-indicators .active {
    background-color: #333; /* Active indicator color */
}

.about-card {
    height: 100%; /* Ensure all cards have the same height */
}

